body {
    font-family: 'Roboto', sans-serif;
    background-color: #818080;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-top: 0;
    color: #333;
    font-weight: 700;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 4px;
    margin-bottom: 20px;
}

.cell {
    border: 2px solid #007bff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s;
}

.cell:hover {
    background-color: #007bff1a;
    transform: scale(1.05);
}

.status {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
    color: #007bff;
}

.scoreboard {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.score {
    margin: 0 10px;
    font-size: 1.1em;
    color: #333;
}

#resetBtn {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#resetBtn:hover {
    background-color: #0056b3;
}
